/* Hojas de estilo en cascada: */

/* El rol de CSS: Colores, tamanios, animaciones, espacios, margenes. adaptar a dispositivos ect
Ojas de estilo en cascada que permiten darle un disenio unico al codigo html */

/* Anatomia:
Selector {
    codigo css
    llave : valor
    propiedad : valor;
} /*

/* Selectores
Selector de elemento: Directamente el elemento, selecciona todos esos elementos del html
Selector de clase: .class Es reutilizable
Selector por ID: #id Dar un id unico por pagina
Selector de atributo: [src="logo.jpg"] 
Combinacion de descendentes: .cliente .nombre
Todos los hijos .cliente > p
*/

/* Especificidad
Mientras mas especifico sea un sselector, mas probable es qeu este se aplique.
El navegador toma en cuenta el selector mas especifico
*/

/* Colores
Por nombre
Hexadecimal
rgb()
hsl()
rgba()
*/

/* Custom properties o variables de css: */
:root{
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;

    --fuente_principal: 3.8rem;
}


/* Hacen que los rem sean sencillos y practicos de utilizar 1rem=10px */
html{
    font-size: 62.5%;
    /* Box sizing:*/
    box-sizing: border-box;
}
/* Box sizing: */
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: "Krub", sans-serif;
    /* Degradado para el fondo*/
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}

.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}
/* Rem se adapta al dispositivo en donde se cargue la aplicacion, pc, celular, reloh, tablet etc */

/* Estilos del titulo*/
.titulo {
    font-weight: 400;
    font-style: normal;
}

.titulo span{
    font-size: 2rem; /* El rem es relativo al documento */ 
}

/* Contenedor multiuso*/
.contenedor{
    max-width: 120rem;
    margin: auto; /*  0 auto 0 auto */
}

/* Boton */
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    text-decoration: none;
    margin-top: 3rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 768px) {
    .boton{
        width: auto;
    }
}

/* Estilos de la barra de navegacion principal */
.navegacion_principal{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

/* Uso de media queris
480: Telefonos
768: Tablet
1140: Laptop o PC
1440: Convencion
*/

@media (min-width: 768px) {
    .navegacion_principal{
        flex-direction: row; /* Default */
        justify-content: space-between;
    }
}

.navegacion_principal a{
    color: var(--blanco);
    padding: 0.7em;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold; /* Negrita, puede ser 700 tambien */
}

.navegacion_principal a:hover{
    /* Pseudoclases, se ejecutan cuando sucede algo*/
    background-color: var(--primario);
    color: var(--oscuro);
}

.nav-bag{
    background-color: var(--secundario);
}


/* Tratar con imagenes */
.hero{
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p{
    color: var(--blanco);
}

